body {
    background-color: bisque;
}


.content {
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.content p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

.content input{
    margin: 7px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: grey;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
}
.content input:hover{
    background-color: rgb(83, 83, 83);
}
.content input:active{
    background-color: grey;
}